@font-face {
    font-family: "roboto";
    src: local("Roboto");
    src: url(../font/Roboto-Light.ttf);
}

.header {
    width: 1280px;
    margin: auto;
}

.main-title {
    font-size: 80px;
    color: #4BCAFF;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
}

.title-color {
    color: black;
}

ul.menu {
    background-color: #35444F;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 48px;
    height: 50px;
}

a.menu-link {
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto";
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
}

a.menu-link:hover {
    background-color:#222F3A;
}

.border-for-menu {
    border-right: 1px solid white;
}

.border-for-menu:first-child{
    border-left: 1px solid white;
}

.main {
    width: 1280px;
    margin: auto;
    display: flex;
}

.aside-menu {
    width: 344px;
    height: 399px;
    border: 1px solid gray;
    box-sizing: border-box;

}

ul.left-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
}

a.aside-menu-link {
    text-decoration: none;
    font-size: 27px;
    font-family: "Roboto";
    text-align: left;
    color: #495863;
    display: block;
    padding: 26px;
}

li:last-child {
    margin-bottom: 0px;
}

.ramda-content {
    width: 885px;
    height: 529px;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 51px;
    margin-bottom: 37px;
}

.ramda-img {
    width: 320px;
    height: 381px;
    transition: all 1s;
}

.ramda-img:hover {
    transform: scale(1.1);
}

.all-text {
    width: 1280px;
    margin: auto;
}

.first-paragraph {
    width: 885px;
    margin-left: 395px;
}

.text {
    font-size: 18px;
    line-height: 24px;
    font-family: "Roboto";
}

.footer {
    width: 1280px;
    margin: auto;
    margin-bottom: 30px;
}

.footer-menu {
    background-color: rgba(99, 105, 110, 0.48);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.footer-menu-link {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-hover:hover {
    text-decoration: underline;
    color: #3181A6;
}

.aside-menu-hover:hover {
    background-color: #DBDBDB;
}

.footer-left-text {
    font-size: 24px;
    font-family: "Roboto";
    margin-left: 135px;
}

li.footer-text {
    padding: 10px;
}